//20
.ico-20-new {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/new.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-exclamation {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/exclamation.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-20-error {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/error.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-list {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/list.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-list-active {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/list-active.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-20-ebook {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/ebook.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-ebook-active {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/ebook-active.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-20-help {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/help.svg) no-repeat 50% 50%;
  font-size: 0;
}

//24
.ico-24-up {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/up.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-close {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/close.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-more {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/more.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-plus {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/plus.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-link {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/link.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-link-navy {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/link-navy.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-download {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/download.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-delete {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/delete.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-search {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/search.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-search-white {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/search-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-add {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/add.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-plus-yellow {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/plus-yellow.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-circle-delete {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/circle-delete.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-24-circle-delete-gray {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/circle-delete-gray.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-refresh {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/refresh.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-searchPlus {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/searchPlus.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-document {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/document.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-chart {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/chart.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-minusGray {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/minus-gray.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-plusGray {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/plus-gray.svg) no-repeat 50%
    50%;
  font-size: 0;
}

.ico-24-print {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/print.svg) no-repeat 50% 50%;
  font-size: 0;
}

.ico-24-download-navy {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/download-navy.svg) no-repeat
    50% 50%;
  font-size: 0;
}

.ico-24-search-gray {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/search-gray.svg) no-repeat 50%
    50%;
  font-size: 0;
}

.ico-24-youtube {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/youtube.svg) no-repeat 50% 50%;
  font-size: 0;
}

//32
.ico-32-share {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/share.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-kakao {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/kakao.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-a {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/a.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-q {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/q.svg) no-repeat 50% 50%;
  font-size: 0;
}

.ico-32-doc {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/doc.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-etc {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/etc.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-excel {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/excel.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-hwp {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/hwp.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-mp3 {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/mp3.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-pdf {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/pdf.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-png {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/png.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-ppt {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/ppt.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-pptx {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/pptx.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-word {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/word.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-xlsx {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/xlsx.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-youtube {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/youtube.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-zip {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/zip.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-close {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/close.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-classcard {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/classcard.svg) no-repeat 50%
    50%;
  font-size: 0;
}

//40
.ico-40-logo-upload {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/logo-upload.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-search {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/search.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-search-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/search-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}

.ico-40-notification {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/notification.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-notification-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/notification-white.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-mypage {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/mypage.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-mypage-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/mypage-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-allmenu {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/allmenu.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-allmenu-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/allmenu-white.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-close {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/close.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-login {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/login.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-logout {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/logout.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-desktop {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/desktop.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-up {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/up.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-down {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/down.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-left {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/left.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-right {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/right.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-kakao {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/kakao.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-youtube {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/youtube.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-share {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/share.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-bookmarks {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/bookmarks.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-bookmarks-active {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/bookmarks-active.svg) no-repeat
    50% 50%;
  font-size: 0;
}

//40
.ico-40-answerAndExplanation {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/answerAndExplanation.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-classCard {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/classCard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-conceptBookPpt {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/conceptBookPpt.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-conceptWriting100s {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/conceptWriting100s.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-cumulativeTips {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/cumulativeTips.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-curriculumRec {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/curriculumRec.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-ebook {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/ebook.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-evaluation {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/evaluation.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-faq {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/faq.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-grammarBank {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/grammarBank.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-logoRegistration {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/logoRegistration.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-neltGuide {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/neltGuide.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-notice {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/notice.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-questionHwp {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/questionHwp.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-questionPpt {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/questionPpt.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-readingBook1316 {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/readingBook1316.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-reportTips {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/reportTips.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-studentSite {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/studentSite.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-teacherPdf {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/teacherPdf.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-vocabWizard {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/vocabWizard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-vocabWizard {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/vocabWizard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-studentPdf {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/studentPdf.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-audio {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/audio.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-learningBook {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/learningBook.svg) no-repeat 50%
    50%;
  font-size: 0;
}

//56
.ico-56-academyInfo {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/academyInfo.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-buildAndGrow {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/buildAndGrow.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-classCard {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/classCard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-classMgmt {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/classMgmt.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-cumulativeTips {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/cumulativeTips.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-56-curriculum {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/curriculum.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-curriculumRec {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/curriculumRec.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-56-ebook {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/ebook.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-evaluation {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/evaluation.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-event {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/event.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-faq {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/faq.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-grammarBank {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/grammarBank.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-lessonMaterials {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/lessonMaterials.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-56-levelTest {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/levelTest.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-logoRegistration {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/logoRegistration.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-56-neltEntry {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/neltEntry.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-neltGuide {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/neltGuide.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-notice {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/notice.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-readingBook1316 {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/readingBook1316.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-56-reportTips {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/reportTips.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-seminarApply {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/seminarApply.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-smartPhone {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/smartPhone.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-studentMgmt {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/studentMgmt.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-studentSite {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/studentSite.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-supplements {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/supplements.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-vocabWizard {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/vocabWizard.svg) no-repeat 50%
    50%;
  font-size: 0;
}

//etc
.ico-48-circle-plus {
  display: inline-block;
  min-width: 48px;
  height: 48px;
  background: url(../../netutor/renew/pc/icon/etc/circle-plus.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-48-Google {
  display: inline-block;
  min-width: 48px;
  height: 48px;
  background: url(../../netutor/renew/pc/icon/etc/Google.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-48-Naver {
  display: inline-block;
  min-width: 48px;
  height: 48px;
  background: url(../../netutor/renew/pc/icon/etc/Naver.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-48-KakaoTalk {
  display: inline-block;
  min-width: 48px;
  height: 48px;
  background: url(../../netutor/renew/pc/icon/etc/KakaoTalk.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-48-Apple {
  display: inline-block;
  min-width: 48px;
  height: 48px;
  background: url(../../netutor/renew/pc/icon/etc/Apple.svg) no-repeat 50% 50%;
  font-size: 0;
}
