//20
.ico-20-exclamation {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/exclamation.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-20-error {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/error.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-list {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/list.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-list-active {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/list-active.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-20-ebook {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/ebook.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-20-ebook-active {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/ebook-active.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-20-help {
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background: url(../../netutor/renew/pc/icon/20/help.svg) no-repeat 50% 50%;
  font-size: 0;
}

//24
.ico-24-up {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/up.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-close {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/close.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-more {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/more.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-plus {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/plus.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-link {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/link.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-download {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/download.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-delete {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/delete.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-search {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/search.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-search-white {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/search-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-add {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/add.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-24-plus-yellow {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/plus-yellow.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-24-circle-delete {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  background: url(../../netutor/renew/pc/icon/24/circle-delete.svg) no-repeat
    50% 50%;
  font-size: 0;
}

//32
.ico-32-share {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/share.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-kakao {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/kakao.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-a {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/a.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-q {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/q.svg) no-repeat 50% 50%;
  font-size: 0;
}

.ico-32-doc {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/doc.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-etc {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/etc.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-excel {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/excel.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-hwp {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/hwp.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-mp3 {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/mp3.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-pdf {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/pdf.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-png {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/png.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-ppt {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/ppt.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-pptx {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/pptx.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-word {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/word.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-xlsx {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/xlsx.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-youtube {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/youtube.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-zip {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/zip.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-close {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/close.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-32-classcard {
  display: inline-block;
  min-width: 32px;
  height: 32px;
  background: url(../../netutor/renew/pc/icon/32/classcard.svg) no-repeat 50%
    50%;
  font-size: 0;
}

//40
.ico-40-search {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/search.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-search-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/search-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-notice {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/notice.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-notice-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/notice-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-mypage {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/mypage.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-mypage-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/mypage-white.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-allmenu {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/allmenu.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-allmenu-white {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/allmenu-white.svg) no-repeat
    50% 50%;
  font-size: 0;
}
.ico-40-close {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/close.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-login {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/login.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-logout {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/logout.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-desktop {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/desktop.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-up {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/up.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-down {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/down.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-left {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/left.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-right {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/right.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-kakao {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/kakao.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-youtube {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/youtube.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-share {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/share.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-bookmarks {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/bookmarks.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-bookmarks-active {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/bookmarks-active.svg) no-repeat
    50% 50%;
  font-size: 0;
}

.ico-40-vocabWizard {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/vocabWizard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-assessment {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/assessment.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-learningBook {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/learningBook.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-grammarBank {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/grammarBank.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-classCard {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/classCard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-neltGuide {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/neltGuide.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-studentSite {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/studentSite.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-faq {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/faq.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-recommendedCurriculum {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/recommendedCurriculum.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-reportBrandRegister {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/reportBrandRegister.svg)
    no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-reportTips {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/reportTips.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-40-news {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/news.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-40-cumulativeReportTips {
  display: inline-block;
  min-width: 40px;
  height: 40px;
  background: url(../../netutor/renew/pc/icon/40/cumulativeReportTips.svg)
    no-repeat 50% 50%;
  font-size: 0;
}

//56
.ico-56-class {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/class.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-manage {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/manage.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-classcard {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/classcard.svg) no-repeat 50%
    50%;
  font-size: 0;
}
.ico-56-nelt {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/nelt.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-test {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/test.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-student {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/student.svg) no-repeat 50% 50%;
  font-size: 0;
}

.ico-56-ebook {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/ebook.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-data {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/data.svg) no-repeat 50% 50%;
  font-size: 0;
}
.ico-56-vocabWizard {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/56/vocabWizard.svg) no-repeat 50%
    50%;
  font-size: 0;
}

//etc
.ico-48-circle-plus {
  display: inline-block;
  min-width: 56px;
  height: 56px;
  background: url(../../netutor/renew/pc/icon/etc/circle-plus.svg) no-repeat 50%
    50%;
  font-size: 0;
}
