<footer class="ne-footer">
  <div class="ne-footer-contents">
    <div class="ne-footer-start">
      <div class="ne-footer-logo">
        <img src="../../netutor/renew/pc/logo-footer.svg" alt="NE 능률" />
      </div>
      <div class="ne-footer-info">
        <div class="ne-footer-info-text">
          <span
            >㈜NE능률 (03925) 서울 특별시 마포구 월드컵북로 396(상암동)
            누리꿈스퀘어 비즈니스타워 10층</span
          >
          <hr />
          <span>대표이사 : 주민홍</span>
          <hr />
          <span
            >대표번호 : 02-2024-7114
            <a href=""><strong>[사업별 고객센터 안내]</strong></a></span
          >
        </div>
        <div class="ne-footer-info-text">
          <span>팩스 : 02-2024-7114</span>
          <hr />
          <span>고객센터 : 1833-8368</span>
          <hr />
          <span>사업자등록번호 : 105-81-65267</span>
          <hr />
          <span
            >통신판매신고번호 : 제2004-02120호
            <a href=""><strong>[정보조회]</strong></a></span
          >
        </div>
        <div class="ne-footer-info-text">
          <span
            >개인정보 보호책임자(CPO) : 김정원(<a href="">necpo@neungyule.com</a
            >)</span
          >
        </div>
      </div>
    </div>
    <div class="ne-footer-end">
      <div class="ne-footer-menu">
        <a href="">이용안내 </a>
        <a href="">찾아오시는길 </a>
      </div>
      <div class="ne-footer-sns">
        <a href="">
          <i class="ico-40-kakao">카카오 채널</i>
        </a>
        <a href="">
          <i class="ico-40-youtube">유투브</i>
        </a>
      </div>
    </div>
  </div>
  <div class="ne-footer-foot">
    <div class="ne-footer-foot-link">
      <a href=""><strong>개인정보처리방침</strong></a>
      <a href="">이용약관</a>
      <a href="">이메일무단수집거부</a>
      <a href="">지사안내</a>
      <a href="">문의전화</a>
    </div>
    <div class="ne-footer-foot-copyright">
      Copyright ⓒ NE Neungyule, Inc. All Rights Reserved
    </div>
  </div>
</footer>
