<header class="ne-header">
  <div class="ne-header-start">
    <div class="ne-header-logo">
      <a href="/pub/">NE Tutor</a>
    </div>
    <menu class="ne-header-gnb">
      <div class="ne-header-gnb__item">
        <a href="">교자자료/E-Book</a>
      </div>
      <div class="ne-header-gnb__item">
        <a href="">커리큘럼</a>
      </div>
      <div class="ne-header-gnb__item">
        <a href="">평가 서비스</a>
      </div>
      <div class="ne-header-gnb__item">
        <a href="">문제뱅크</a>
      </div>
      <div class="ne-header-gnb__item">
        <a href="">샘지원센터</a>
      </div>
      <div class="ne-header-gnb__item">
        <a href="">튜터 Mall</a>
      </div>
      <div class="ne-header-gnb__item">
        <a href="">NELT</a>
      </div>
    </menu>
  </div>
  <div class="ne-header-end">
    <div class="ne-header-menu">
      <div class="ne-header-menu-item">
        <a href=""><i class="ico-40-search">검색</i></a>
      </div>
      <div class="ne-header-menu-item">
        <a href=""><i class="ico-40-notice">알람</i><em>5</em></a>
      </div>
      <div class="ne-header-menu-item">
        <a href=""><i class="ico-40-mypage">마이페이지</i></a>
      </div>
      <div class="ne-header-menu-item">
        <a href=""><i class="ico-40-login">로그인</i></a>
      </div>
      <div class="ne-header-menu-item">
        <a href=""><i class="ico-40-allmenu">메뉴</i></a>
      </div>
    </div>
  </div>
</header>
