<header class="ne-header ne-header--transition ne-header--english">
  <div class="ne-header-inner">
    <div class="ne-header-start">
      <div class="ne-header-logo">
        <a href="/pub/">NE Tutor</a>
      </div>
      <menu class="ne-header-gnb">
        <div class="ne-header-gnb-inner">
          <div class="ne-header-gnb__item">
            <a href="">교재/수업자료</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dt><a href="">초등</a></dt>
                <dd>
                  <a href="">파닉스</a>
                  <a href="">독해</a>
                  <a href="">문법</a>
                  <a href="">듣기</a>
                  <a href="">어휘</a>
                  <a href="">쓰기</a>
                  <a href="">NELT</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">중등</a></dt>
                <dd>
                  <a href="">독해</a>
                  <a href="">문법/구문</a>
                  <a href="">듣기</a>
                  <a href="">어휘</a>
                  <a href="">쓰기</a>
                  <a href="">내신</a>
                  <a href="">NELT</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">고등</a></dt>
                <dd>
                  <a href="">독해</a>
                  <a href="">문법/구문</a>
                  <a href="">듣기</a>
                  <a href="">어휘</a>
                  <a href="">내신</a>
                  <a href="">NELT</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">ELT</a></dt>
                <dd>
                  <a href="">Coursebook</a>
                  <a href="">Phonics</a>
                  <a href="">Readers</a>
                  <a href="">Reading</a>
                  <a href="">Listening</a>
                  <a href="">Speaking</a>
                  <a href="">Writing</a>
                  <a href="">Grammar</a>
                  <a href="">Vocabulary</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">커리큘럼</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dt><a href="">맞춤 커리큘럼</a></dt>
                <dd>
                  <a href="">맞춤형 교재추천</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">추천 커리큘럼</a></dt>
                <dd>
                  <a href="">인기 커리큘럼</a>
                  <a href="">목적별 커리큘럼</a>
                  <a href="">레벨별 커리큘럼</a>
                </dd>
              </dl>
              <dl>
                <dt><a href="">교재 추천 레벨테스트</a></dt>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">문제뱅크</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dd>
                  <a href="">문법 문제뱅크</a>
                  <a href="">AI 중고등 내신 문제뱅크</a>
                  <a href="">어휘 출제 서비스</a>
                  <a href="">문법 예문 검색</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">교재 성취TEST</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dd>
                  <a href="">교재 성취TEST 소개</a>
                  <a href="">반관리</a>
                  <a href="">학생관리</a>
                  <a href="">교재 성취TEST 응시관리</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">NELT</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dd>
                  <a href="">NELT 소개</a>
                  <a href="">NELT 문법 모의고사</a>
                  <a href="">반관리</a>
                  <a href="">학생관리</a>
                  <a href="">NELT 응시관리</a>
                  <a href="">NELT 소식</a>
                  <a href="">NELT 자료실</a>
                  <a href="">학부모 상담 매뉴얼</a>
                  <a href="">학원 활용 후기</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">샘지원센터</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dd>
                  <a href="">세미나</a>
                  <a href="">이벤트</a>
                  <a href="">새소식</a>
                  <a href="">학원운영/수업 정보 </a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">튜터 Mall</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dt>
                  <a href="">진단</a>
                </dt>
                <dd>
                  <a href="">NELT</a>
                </dd>
              </dl>
              <dl>
                <dt>
                  <a href="">수업</a>
                </dt>
                <dd>
                  <a href="">러닝북</a>
                  <a href="">문법 문제뱅크</a>
                  <a href="">AI 중고등 내신 문제뱅크</a>
                  <a href="">중학교 교과서 문법 문제</a>
                  <a href="">격간지 (하브루타 수업자료)</a>
                </dd>
              </dl>
              <dl>
                <dt>
                  <a href="">평가</a>
                </dt>
                <dd>
                  <a href="">교재 성취TEST</a>
                </dd>
              </dl>
            </div>
          </div>
          <div class="ne-header-gnb__item" style="display: none">
            <a href="">고객센터</a>
            <div class="ne-header-gnb-layer">
              <dl>
                <dd>
                  <a href="">자주 묻는 질문</a>
                  <a href="">1:1 문의</a>
                  <a href="">공지사항</a>
                  <a href="">교재 PDF 신청</a>
                  <a href="">교재 오류 정정/신고</a>
                  <a href="">지사/총판 안내</a>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      </menu>
      <div class="ne-header-search">
        <div class="ne-questionbank-wizard-search">
          <div class="ne-search ne-search-lg">
            <input type="text" placeholder="검색어를 입력해주세요." />
            <button class="ne-search__delete">삭제</button>
            <button>검색</button>
          </div>
        </div>
        <div class="ne-header-search-autocomplete">
          <div class="ne-header-search-autocomplete-list">
            <button>[2023 개정] 1316 GRAMMAR Level 1</button>
            <button>[2023 개정] 1316 GRAMMAR Level 2</button>
            <button>[2023 개정] 1316 GRAMMAR Level 3</button>
            <button>그래머버디 1 [2016 개정]</button>
            <button>그래머버디 2 [2016 개정]</button>
            <button>그래머버디 3 [2016 개정]</button>
            <button>원리를 더한 영문법 1 (원더영문법 1)</button>
            <button>[2023 개정] 1316 GRAMMAR Level 1</button>
            <button>[2023 개정] 1316 GRAMMAR Level 2</button>
            <button>[2023 개정] 1316 GRAMMAR Level 3</button>
            <button>그래머버디 1 [2016 개정]</button>
            <button>그래머버디 2 [2016 개정]</button>
            <button>그래머버디 3 [2016 개정]</button>
            <button>원리를 더한 영문법 1 (원더영문법 1)</button>
            <!-- <div class="ne-header-search-autocomplete-list__none">
            <strong>검색어</strong>에 대한 검색결과가 없습니다.
          </div> -->
          </div>
          <div class="ne-header-search-autocomplete-product">
            <a href="">
              <img
                src="https://pic.neungyule.com/netutor/renew/pc/temp/detail03.png"
                alt=""
              />
              <p>
                [2023 개정] 1316 GRAMMAR Level 1[2023 개정] 1316 GRAMMAR Level 1
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ne-header-end">
      <div class="ne-header-menu">
        <div class="ne-header-menu-item ne-header-menu-item-search">
          <button type="button"><i class="ico-40-search">검색</i></button>
        </div>
        <div class="ne-header-menu-item ne-header-menu-item-support">
          <a href=""><i class="ico-40-support">고객센터</i></a>
          <div class="ne-header-menu-item-layer">
            <a href="">자주 묻는 질문</a>
            <a href="">1:1문의</a>
            <a href="">공지사항</a>
            <a href="">교재 PDF 신청</a>
            <a href="">교재 오류 정정/신고</a>
            <a href="">지사/총판 안내</a>
          </div>
        </div>
        <!-- <div class="ne-header-menu-item ne-header-menu-item-alarm">
        <a href=""><i class="ico-40-notification">알람</i><em>5</em></a>
      </div> -->
        <div class="ne-header-menu-item ne-header-menu-item-smartclass">
          <a href=""><i class="ico-40-smartclass">스마트클래스</i></a>
          <div class="ne-header-menu-item-layer">
            <a href="">클래스 홈</a>
            <a href="">반관리</a>
            <a href="">학생관리</a>
            <a href="">NELT</a>
            <a href="">교재 성취TEST</a>
            <a href="">클래스카드 어휘 학습</a>
            <a href="">알림장</a>
            <a href="">교재 추천 레벨테스트</a>
          </div>
        </div>
        <div class="ne-header-menu-item ne-header-menu-item-mypage">
          <a href=""><i class="ico-40-mypage">마이페이지</i></a>
          <div class="ne-header-menu-item-layer">
            <a href="">나의 정보</a>
            <a href="">구매내역</a>
            <a href="">이용권/쿠폰내역</a>
            <a href="">최근 이용 교재</a>
            <a href="">시험지 보관함</a>
            <a href="">구매 자료 다운로드</a>
          </div>
        </div>
        <!-- <div class="ne-header-menu-item ne-header-menu-item-login">
        <a href=""><i class="ico-40-login">로그인</i></a>
      </div> -->
        <div class="ne-header-menu-item ne-header-menu-item-logout">
          <a href=""><i class="ico-40-logout">로그아웃</i></a>
        </div>
        <div class="ne-header-menu-item ne-header-menu-item-menu">
          <button type="button"><i class="ico-40-allmenu">메뉴</i></button>
        </div>
      </div>
      <div class="ne-header-search__close">
        <button class="ne-btn ne-btn-icononly">
          <i class="ico-40-close"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<button type="button" class="ne-header-dim"></button>
