<header class="ne-header ne-header--transition ne-header--student">
  <div class="ne-header-inner">
    <div class="ne-header-start">
      <div class="ne-header-logo">
        <a href="/pub/">NE Tutor</a>
      </div>
      <menu class="ne-header-gnb">
        <div class="ne-header-gnb-inner">
          <div class="ne-header-gnb__item">
            <a href="">나의 학습방</a>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">클래스카드 학습</a>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">교재 추천 레벨테스트</a>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">알림장</a>
          </div>
          <div class="ne-header-gnb__item">
            <a href="">이용가이드</a>
          </div>
        </div>
      </menu>
      <div class="ne-header-search">
        <div class="ne-questionbank-wizard-search">
          <div class="ne-search ne-search-lg">
            <input type="text" placeholder="검색어를 입력해주세요." />
            <button class="ne-search__delete">삭제</button>
            <button>검색</button>
          </div>
        </div>
        <div class="ne-header-search-autocomplete">
          <div class="ne-header-search-autocomplete-list">
            <button>[2023 개정] 1316 GRAMMAR Level 1</button>
            <button>[2023 개정] 1316 GRAMMAR Level 2</button>
            <button>[2023 개정] 1316 GRAMMAR Level 3</button>
            <button>그래머버디 1 [2016 개정]</button>
            <button>그래머버디 2 [2016 개정]</button>
            <button>그래머버디 3 [2016 개정]</button>
            <button>원리를 더한 영문법 1 (원더영문법 1)</button>
            <button>[2023 개정] 1316 GRAMMAR Level 1</button>
            <button>[2023 개정] 1316 GRAMMAR Level 2</button>
            <button>[2023 개정] 1316 GRAMMAR Level 3</button>
            <button>그래머버디 1 [2016 개정]</button>
            <button>그래머버디 2 [2016 개정]</button>
            <button>그래머버디 3 [2016 개정]</button>
            <button>원리를 더한 영문법 1 (원더영문법 1)</button>
            <!-- <div class="ne-header-search-autocomplete-list__none">
            <strong>검색어</strong>에 대한 검색결과가 없습니다.
          </div> -->
          </div>
          <div class="ne-header-search-autocomplete-product">
            <a href="">
              <img src="../../netutor/renew/pc/temp/detail03.png" alt="" />
              <p>
                [2023 개정] 1316 GRAMMAR Level 1[2023 개정] 1316 GRAMMAR Level 1
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="ne-header-end">
      <div class="ne-header-menu">
        <div class="ne-header-menu-item ne-header-menu-item-mypage">
          <a href=""><i class="ico-40-mypage">마이페이지</i></a>
          <div class="ne-header-menu-item-layer">
            <a href="">나의 정보</a>
            <a href="">구매내역</a>
            <a href="">이용권/쿠폰내역</a>
            <a href="">최근 이용 교재</a>
            <a href="">시험지 보관함</a>
            <a href="">구매 자료 다운로드</a>
          </div>
        </div>
        <div class="ne-header-menu-item ne-header-menu-item-login">
          <a href=""><i class="ico-40-login">로그인</i></a>
        </div>
        <!-- <div class="ne-header-menu-item ne-header-menu-item-logout">
        <a href=""><i class="ico-40-logout">로그아웃</i></a>
      </div> -->
      </div>
      <div class="ne-header-search__close">
        <button class="ne-btn ne-btn-icononly">
          <i class="ico-40-close"></i>
        </button>
      </div>
    </div>
  </div>
</header>
<button type="button" class="ne-header-dim"></button>
